.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color:white;
    box-shadow:2px 2px 4px 2px #333;
  }
  
  .expense-item__description {
    display:flex;
    justify-content: space-between;
    flex: 1;
    
  }
  
  .expense-item__description h2 {
    margin: 0;
    font-size: 1rem;
    color: white;
    margin-top: 0.35rem;
    margin-left: 2rem;
  }
  
  .expense-item__price {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: purple;
    color:white;
    border-radius: 10px;
    padding: 5px;

  }
  
  .expense-item__description p {
    margin: 5px 0;
    color: #888;
  }
  
  